.App {
    color: rgb(200, 0, 0);

}

.movie {
    color: blue;
    padding: 2rem;
    margin: 2rem;
    border-style: solid;

    &li { 
        color: red;
    }
}

.body {
    width: 100%;
    height: 100%;
    color: hsl(0, 100%, 50%);
}
